






    .tall-section {
      height: 1000px; 
      background-color: powderblue;
       
     }
   
    .dropdown-menu {
      width: 100%;
      
    }
    #navbar {
    	background-color: yellow;
    }
    nav {
    	background-color: yellow;
    } 


  

    